.custom_card {
    padding-top: 71px;
}
.custom_card_image {
    width: 279px;
    height: 176px;
    position: relative;
}
.custom_card_image img {
    position: absolute;
    bottom: 0;
}
.custom_card_top {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px 12px 0 0;
    align-items: center;
    gap: 18px;
}
.custom_card_content {
    width: calc(100% - 297px);
}
.custom_card_content h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 17px;
}
.custom_card_content a {
    color: #0179C1;
    background: #fff;
    padding: 10px 20px;
    display: inline-block;
    line-height: 16px;
    font-size: 16px;
    border-radius: 6px;
}