.custom_card {
    padding-top: 71px;
}
.custom_card_image {
    width: 279px;
    height: 176px;
    position: relative;
}
.custom_card_image img {
    position: absolute;
    bottom: 0;
}
.custom_card_top {
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px 12px 0 0;
}